:root {

  --main-color: #f4b83c;
  --black: #13131a;
  --bg: #010103;
  --bordap: 0.1rem solid rgba(255, 255, 255, 0.3);
  font-size: 10px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #000;
  color: white;
}

.header {
  width: 100%;
  background: #f4b83c;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-area img {
  width: 60px;
  height: auto;
  border-radius: 50%;
}

.logo-area h2 {
  font-size: 1.2rem;
  margin: 0;
  color: black;
}

nav {
  display: flex;
  gap: 35px;
  font-weight: 600
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 1200;
  font-size: 1.9rem;
}

.buttons {
  display: flex;
  gap: 15px;
}

.cadastro {
  background: black;
  color: white;
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
}

.login {
  background: white;
  color: black;
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  background: black;
}

.hero-text {
  max-width: 45%;
  font-weight: 600px;
}

.hero-text h1 {
  font-size: 3.7rem;
  font-weight: 900;
  line-height: 1.1;
}

.hero-text span {
  color: #f4b83c;
}

.hero-text p {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #dcdcdc;
}

.btn-primario {
  margin-top: 30px;
  padding: 16px 30px;
  background: #f4b83c;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.status {
  display: flex;
  margin-top: 50px;
  gap: 60px;
}

.status div strong {
  color: #f4b83c;
  font-size: 1.5rem;
}

.hero-img img {
  width: 480px;
  border-radius: 20px;
  border: 4px solid #f4b83c;
  box-shadow: 0 0 50px #f4b83c33;
}